god

<div class="row row-cols-1 row-cols-md-3 g-4">
@foreach( Productos p in ViewBag.ListaP){
       <a href='@Url.Action("VerDetalleProducto", "Home", new{ID_Producto=@p.ID_Producto})' class="btn btn-primary"><h5 class="card-title">@p.Nombre
       </h5></a>
}
</div>
<a class="btn btn-primary btn-sm mt-4 ml-4"
    href='@Url.Action("AgregarProducto","Home",new {FK_marca = @ViewBag.Marca.ID_MARCA})'>agrregar</a>
    @ViewBag.Marca.ID_MARCA

    <a class="btn btn-primary btn-sm mt-4 ml-4"
    href='@Url.Action("Index","Home")'>Volver</a>